DATABASE_URL=postgresql://neondb_owner:npg_xPws7aZ1htny@ep-gentle-thunder-aefnurod-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3000
VERITAS_KEY=e8efa9d616d0fa1aa59165300c4ca087
NODE_ENV=development
SESSION_SECRET=a677c67bb128e325d90e10e356f9a40371ca541dd778c7f1f07315118f16be06
CVT_SYNC_URL=http://localhost:4000/api/sync
LOG_LEVEL=info